/* stylesheet */

.responsive {
    width: 100%;
    height: auto;
}   
.title {
    font-family:Baskerville
    font-size: 50px;
    color: #6685b7;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.subtitle {
    font-family:Baskerville
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {     
    font-family:Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: black;
}    